<ul class="nav nav-stacked">
  <% @feeds.each do |feed| %>
      <li>
        <%= link_to feed_path(feed.id) do %>
            <span><%= feed.title %></span>
            <span class="badge pull-right"><%= feed.entries.size %></span>
        <% end %>
      </li>
  <% end %>
</ul>