<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-stacked">
      <% @feeds.each do |feed| %>
        <li>
          <%= link_to truncate(feed.title, length: 30), feed_path(feed.id) %>
        </li>
      <% end %>
    </ul>
    <hr />
    <%= link_to feeds_path do %>
        <span class="glyphicon glyphicon-wrench"></span>
        <span>Manage feeds</span>
    <% end %>
  </div>
</div>