$brand-primary:         #669900 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  border-radius: 0 !important;
}

body {
  background-color: $gray-darker;
}

// Header
.header {
  background-color: $gray-darker;

  h1.title {
    text-align: center;
    font-size: floor(($font-size-base * 11.0));
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
    //text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    font-family: 'impact', sans-serif;
    letter-spacing: 5px;
    margin-top: ($font-size-base * -2);

    a:hover {
      text-decoration: none;
    }
  }

  .banner {
    position: relative;

    img {
      position: absolute;
      height: floor(($font-size-base * 9.0));
      bottom: 0;
      right: 25%;
      left: 25%;
      margin: 0 auto;
    }

    .alert {
      position: absolute;
      top: 25%;
      width: 100%;
      z-index: 9999;
    }
  }
}

// Content
.main {
  background-color: #fff;
  padding: ($font-size-base * 2) 0;
}

.table {
  margin: $font-size-base 0;
}

.content {
  .top-header {
    margin-top: 0;
  }
}

// Footer
.footer {
  background-color: $gray-darker;
  color: white;
}

@import "entries";
@import "feeds";
@import "home";


