$brand-primary:         #669900 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  border-radius: 0 !important;
}

// Header
.header {
  background-color: $gray-darker;

  h1.title {
    text-align: center;
    font-size: floor(($font-size-base * 7.0));
    text-transform: uppercase;
    margin: 0;

    a:hover {
      text-decoration: none;
    }
  }
}

// Content
.table {
 margin: $font-size-base 0;
}

.main {
  .nav {
    margin: $font-size-base 0;
  }
}

@import "entries";
@import "feeds";
@import "home";


